# Service definition file for sshknock

[Unit]
Description=sshknock
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/env python2.7 /usr/local/bin/sshknock server

[Install]
WantedBy=multi-user.target
